.buttonlink2, .foo2:after, .foo3:after, .foo:after {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: #fff;
}
.btn2 {
    display: inline-block;
    width: auto;
    height: 30px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    margin: 5px 5px 0 0;
    padding: 11px 15px 0;
    text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: #fff;
}
.foo3:after, .foo:after {
    text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
    position: absolute;
    height: 100%;
    transition: .2s all ease;
    line-height: 33px;
    text-align: center;
    left: 0;
    top: 0;
}
.foo, .foo3 {
    border-radius: 5px;
}
.foo3:hover:after, .foo:hover:after {
    background-color: #b70046;
}
.foo2:after, .foo2:hover:after, .foo3:after, .foo:after {
    background-color: #da1c5c;
}
.foo:after {
    content: 'UPDATE IMAGE'}
.foo3:after {
    content: 'UPLOAD PHOTO'}
.foo, .foo2, .foo3 {
    display: block;
    position: relative;
    width: 300px;
    cursor: pointer;
    border: 0;
    height: 38px;
    outline: 0;
}
.buttonlink2, .foo2:after, .foo3:after, .foo:after {
    display: block;
    width: 100%;
    font-weight: 700;
}
.foo2:after {
    transition: .2s all ease;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    content: 'SELECT IMAGE';
    line-height: 30px;
    height: 100%}
.plan-list2 {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #fff;
    padding: 21px 0 10px;
}
.buttonlink2 {
    height: 40px;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0 15px;
}
.active {
    color: #4d4d4d;
}
.form-control2 {
    width: 99%;
    height: 45px;
    padding: 5px 5px 2px 16px;
    background-color: #fff;
    border: 1px solid #ccd0d2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.loader {
    border-top: 16px solid #da1c5c;
    border-bottom: 16px solid #da1c5c;
}
#divLoading {
    display: none;
}
#divLoading.show {
    display: block;
    position: fixed;
    z-index: 10000;
    background-image: url(/css/images/31.gif);
    background-size: 80px 80px;
    background-color: #666;
    opacity: .4;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}
#loadinggif.show {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 101;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}
div.content {
    width: 1000px;
    height: 1000px;
}

div#tabbing ul{
	margin: 0px 0px 1em 0px;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
   top:2em;
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 2em;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FD4;
}

input.star-1:checked ~ label.star:before { color: #FD4; }

label.star:hover { transform: scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

@media screen and (max-width:320px) {
    .price {
    font-size: 50px;
}
}
