input {
    -moz-appearance: none;
    appearance: none
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: #fff;
    background-position: top;
    background-repeat: repeat-x;
    overflow-x: hidden
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 25%;
    text-align: center;
    background-color: black;
    color: white;
    opacity: 0.7;
    font-size: 14px;
    display: none
}

a {
    color: #da1c5c;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s
}

a:hover {
    color: #da1c5c;
    text-decoration: none
}

.navigation {
    list-style: none;
    background: #da1c5c;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: 0 0 30px 0;
    padding: 20px 0 10px 0;
    overflow-x: hidden
}

.navigation li {
    margin: 0px;
    background: #da1c5c;
    width: 320px;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    padding: 0 10px 0 15px;
    text-align: left
}

.navigation li a i.fa {
    font-size: 16px;
    width: 30px
}

.navigation li a {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 0px;
    display: inline-block;
    width: 280px;
    border-bottom: 1px solid #fff;
    padding-left: 4px
}

.navigation li.profile a {
    font-size: 16px;
    font-weight: normal
}

.navigation li a:hover {
    text-decoration: none;
    color: #FC0
}

.navigation li:first-child a {
    border: none;
    padding: 0px;
    margin: 0px
}

.navigation li:first-child a:hover {
    background: none
}

.navigation li:first-child {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    position: relative;
    color: #fff
}

.navigation li:first-child h2 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 220px
}

.navigation li:first-child p {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 220px
}

.navigation .notification {
    display: inline-block;
    width: 20px;
    padding: 2px 0 2px 0;
    margin-left: 10px;
    background-color: #fff;
    color: #da1c5c;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7)
}

.site-wrap {
    transition: left 0.2s
}

label[for="nav-trigger"] {
    width: 77px;
    height: 20px;
    cursor: pointer;
    background-image: url(images/ico_menu.png);
    background-size: contain;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000
}

.nav-trigger {
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 220px;
    width: 77px;
    height: 20px;
    z-index: 900
}

#wrapper {
    overflow-y: hidden
}

img {
    border: 0
}

h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    text-decoration: none
}

hr {
    border: 0;
    height: 1px;
    background-color: #999
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0
}

header {
    margin: 0 auto;
    padding: 20px 20px 15px 20px;
    background-color: #121215;
    position: relative
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    position: relative
}

#logo {
    margin: 0 auto 0 auto;
    text-align: center
}

.logo {
    width: 300px;
    height: auto
}

#headerlogin {
    float: right;
    margin: -35px 0 10px 0
}

#headerlogin .button {
    float: right;
    display: block;
    width: auto;
    height: 25px;
    background-color: #da1c5c;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin: 0 0 0 8px;
    padding: 8px 20px 2px 20px;
    text-align: center
}

#headerlogin .button a {
    color: #fff
}

#headerlogin .button:hover {
    background-color: #b70046
}

#search {
    float: right;
    margin: 15px 0 0 0;
    padding: 0px;
    width: 300px
}

#searchField {
    width: 257px;
    height: 35px;
    font-size: 13px;
    padding: 2px 35px 2px 8px;
    float: left;
    border: 1px solid #393939;
    background-color: #FFF;
    color: #333333;
    background: white url("images/search.png") no-repeat;
    background-position: right
}

#banner-container {
    display: block;
    width: 100%;
    height: auto;
    position: relative
}

.banner {
    width: 100%;
    position: absolute
}

.banner-text {
    margin: 0 auto 20px auto;
    width: 490px;
    text-align: center;
    padding: 28% 20px 0 20px;
    position: relative;
    z-index: 1000;
    display: block
}

.banner-text p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #fff;
    margin: 0 0 30px 0;
    text-shadow: 1px 1px 7px #333333
}

#banner-container .button {
    width: 100%;
    height: 50px;
    background-color: #da1c5c;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    margin: 10px auto;
    margin-right: 10px;
    padding: 8px 40px 10px 40px;
    text-align: center;
    opacity: 0.9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

#banner-container .button a {
    color: #fff
}

#banner-container .button:hover {
    background-color: #b70046
}

.crop {
    position: relative;
    left: 50%;
    margin-left: -500px
}

.crop > img {
    height: 400px
}

#content {
    display: block;
    min-height: 500px;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px 0px 20px;
    position: relative;
    z-index: 1000;
    color: #4d4d4d
}

#content h1 {
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 20px 0
}

#content h2 {
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 10px 0
}

#content h3 {
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 10px 0
}

#content h4 {
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 10px 0;
}

#content .buttonlink {
    display: inline-block;
    width: auto;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin: 5px 5px 0 0;
    padding: 0px 15px 0px 15px;
    text-align: center
}

#content .buttonlink a {
    color: #fff;
    text-decoration: none
}

#content .buttonlink:hover {
    background-color: #b70046;
    color: #fff;
    text-decoration: none
}

.grey {
    background-color: #999
}

.blue {
    background-color: #0071bc
}

.red {
    background-color: #cd4a3a
}

.pink {
    background-color: #da1c5c
}

.orange {
    background-color: #f7931e
}

.green {
    background-color: #39b54a
}

.blurb {
    margin: 0 auto;
    max-width: 1100px;
    background-color: #fff;
    padding: 20px 50px 20px 50px;
    text-align: center
}

.textred {
    color: #e64433;
    background-image: url(images/line.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 48px;
    display: inline-block
}

#features {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f2f2f2;
    padding: 30px 0px 10px 0px;
    text-align: center
}

.features-box {
    display: inline-block;
    max-width: 370px;
    margin: 0 10px 20px 10px;
    padding: 0px
}

#testimonial {
    margin: 0px auto 10px auto;
    padding: 30px 0 10px 0;
    max-width: 1200px;
    text-align: center;
    background-color: #fff;
    vertical-align: top
}

.testi-box {
    display: inline-block;
    max-width: 370px;
    margin: 0 10px 20px 10px;
    padding: 0px
}

.testi-box img {
    margin: 0 0 10px 0
}

.testi {
    font-style: italic
}

#plans {
    margin: 0px auto 10px auto;
    padding: 30px 0 10px 0;
    max-width: 1200px;
    text-align: center;
    background-color: #fff
}

.plan {
    width: 370px;
    height: auto;
    display: inline-block;
    background-color: #666666;
    margin: 0 10px 20px 10px;
    text-align: center
}

.plan2 {
    width: 370px;
    height: auto;
    display: inline-block;
    background-color: #da1c5c;
    margin: 0 10px 20px 10px;
    text-align: center
}

.plans {
    font-size: 20px;
    line-height: 24px;
    height: auto;
    color: #fff;
    margin-top: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold
}

.price {
    font-size: 60px;
    color: #fff;
    margin: 0 0 10px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold
}

.price2 {
    font-size: 22px;
    color: #fff;
    vertical-align: super;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold
}

.plan-list {
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #fff;
    padding: 10px 0 10px 0
}

#plans .button {
    width: 100%;
    height: 50px;
    background-color: #da1c5c;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    margin: 10px auto;
    margin-right: 10px;
    padding: 8px 20px 10px 20px;
    text-align: center;
    opacity: 0.9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

#plans .button a {
    color: #fff
}

#plans .button:hover {
    background-color: #b70046
}

.banner-content {
    width: 100%
}

#header-profile {
    float: right;
    margin: -35px 20px 0 0;
    color: #fff
}

#header-profile .profileimg {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 10px 0px 0;
    border: 1px solid #CCC
}

#header-profile .profile-box {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    vertical-align: top
}

#header-profile .fullname {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0px 10px 0px
}

#header-profile p {
    font-size: 12px;
    margin: 0 0px 10px 0px
}

#profile {
    max-width: 1200px;
    margin: 20px auto 40px auto
}

#profile h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 0px 5px 0px
}

#profile h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px
}

.active {
    color: #009245
}

.profileimg-box {
    width: 180px;
    height: auto;
    display: inline-block;
    margin: 0 20px 20px 0
}

.profileimg {
    width: 100%
}

.buttonlink2 {
    display: block;
    width: 100%;
    height: 38px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin: -5px 0 0 0;
    padding: 2px 10px 0px 10px
}

.profile-box {
    display: inline-block;
    width: 380px;
    height: 180px;
    margin: 10px 10px 20px 0;
    padding: 0px;
    vertical-align: top
}

.profilemeta-box {
    display: inline-block;
    width: 280px;
    height: 180px;
    margin: 10px 10px 20px 0;
    padding: 0px;
    vertical-align: top
}

.agencymeta-box {
    display: inline-block;
    width: auto;
    height: 180px;
    margin: 10px 10px 20px 0;
    padding: 0px;
    vertical-align: top
}

.meta {
    display: inline-block;
    width: 80px;
    height: auto;
    font-weight: bold
}

.photo-box {
    display: inline-block;
    margin: 0px 0px 5px 0;
    max-width: 220px;
    padding: 0px
}

.photo-box img {
    width: 100%
}

#jobs {
    max-width: 1200px;
    margin: 20px auto 3em auto;
}

#jobs p {
    font-size: 12px
}

.job-box {
    display: inline-block;
    width: 340px;
    height: auto;
    margin: 10px 10px 10px 0;
    padding: 20px;
    vertical-align: top;
    border: 1px solid #CCC
}

.job-box .profileimg {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0 10px 0px 0;
    border: 1px solid #CCC
}

.job-box .description {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    vertical-align: top;
    margin: 0px
}

#pagination {
    margin: 20px auto 10px auto
}

#pagination a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 0 3px 0 0;
    padding: 5px 10px;
    background-color: #da1c5c;
    color: #fff;
    display: inline-block;
    text-decoration: none
}

#pagination a:hover {
    background-color: #b70046;
    color: #fff;
    text-decoration: none
}

#pagination .current {
    background-color: #b70046
}

.voting-box {
    display: inline-block;
    margin: 0px 0px 5px 0;
    width: 100%;
    max-width: 220px;
    padding: 0px
}

.voting-box img {
    width: 100%
}

.bmano {
    display: inline-block;
    width: 30px;
    height: 23px;
    padding: 7px 0 0 0;
    margin: 10px 10px 0 0;
    background-color: #da1c5c;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px
}

#loginbox {
    max-width: 300px;
    margin: 40px auto 40px auto;
    padding: 0px
}

#loginbox h1 {
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 20px 0;
    text-align: center
}

#loginbox h3 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px
}

#formInput {
    width: 280px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #cccccc;
    background-color: #FFF;
    color: #333333;
    margin: 0 0 8px 0;
    padding: 2px 10px 2px 10px
}

#formbox {
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    background-color: #FFF;
    color: #333333;
    margin: 0px 5px 0 0;
    padding: 0px;
    vertical-align: middle
}

#formbox2 {
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    background-color: #FFF;
    color: #333333;
    margin: 0px 10px 8px 5px;
    padding: 0px;
    vertical-align: middle
}

#loginbox .button {
    display: block;
    width: 300px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin: 0px auto 8px auto;
    padding: 0px;
    text-align: center
}

#loginbox .buttonlink {
    display: block;
    width: 300px;
    height: 38px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin: 0px auto 8px auto;
    padding: 0px 0px 0px 0px;
    text-align: center
}

#loginbox .button .buttonlink a {
    color: #fff;
    text-decoration: none
}

#loginbox .buttonlink:hover {
    background-color: #b70046;
    color: #fff;
    text-decoration: none
}

#loginbox .remember {
    font-size: 12px;
    margin: 0 0 15px 5px;
    vertical-align: top
}

#loginbox .forgot {
    font-size: 12px
}

#loginbox .terms {
    font-size: 12px;
    margin: 0 0 15px 5px;
    vertical-align: text-top;
}

#loginbox > p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px
}

#loginbox .error {
    background-image: url(images/wrong-16x16.png);
    background-position: left;
    background-repeat: no-repeat;
    display: block;
    width: 260px;
    background-color: #999;
    color: #fff;
    font-size: 13px;
    margin: 0 auto 10px auto;
    padding: 10px 10px 10px 35px;
    vertical-align: top;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

#loginbox .profileupload-box {
    width: 180px;
    display: block;
    margin: 0px auto;
    padding: 0px;
    position: relative
}

#loginbox .profileupload {
    width: 180px;
    display: block;
    margin: 0px;
    position: absolute
}

#loginbox .profileupload-icon {
    display: block;
    width: 180px;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 1000
}

.image-upload > file-input {
    width: 160px;
    height: 160px;
    cursor: pointer
}

.image-upload > input {
    display: none
}

#dropSort {
    width: auto;
    height: 30px;
    padding: 0px 35px 2px 8px;
    float: left;
    border: 1px solid #393939;
    background-color: #FFF;
    color: #333333
}

#content-page {
    max-width: 1296px;
    margin: 10px auto 10px auto
}

#pagetext {
    max-width: 1200px;
    margin: 40px auto 40px auto;
}

#pagetext p {
    margin: 0 auto 10px auto;
    font-size: 14px;
    line-height: 22px;
}

#pagetext ol, ul {
    margin: 10px 20px 20px -20px;
    font-size: 13px;
}

#pagetext li {
    margin: 0px 0px 5px 0px;
}

#page-text a {
    color: #3A8776
}

#page-text a:hover {
    text-decoration: underline
}

.sidebar {
    width: 30%;
    float: right;
    text-align: center;
    margin-top: 30px
}

.sidebar > div {
    margin-bottom: 25px
}

.sidebar > div > h2 {
    margin: 5px 0
}

.sidebar > div > img {
    width: 100%
}

.sidebar a {
    color: #3A8776
}

.sidebar a:hover {
    text-decoration: underline
}

#enquiry {
    font-size: 16px;
    font-family: Arial, sans-serif;
    max-width: 300px
}

#enquiry > input {
    padding: 10px 0;
    text-indent: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #3A8776
}

#enquiry > textarea {
    font-size: 14px;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #3A8776;
    text-indent: 10px;
    padding: 10px 0
}

#enquiry > button {
    padding: 10px 15px;
    background: #3A8776;
    color: #fff;
    font-size: 12px;
    border: 0;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s
}

#enquiry > button:hover {
    color: #000;
    background: #f8d274
}

.error {
    color: #cd0000;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 15px 15px;
    margin: 0
}

footer {
    background-color: #121215;
    font-size: 12px;
    line-height: 18px;
    color: #eee;
    padding: 40px 0 40px 0;
    margin-top: 20px;
    text-align: center
}

footer a {
    color: #eee;
    padding: 0 5px;
    text-decoration: none
}

footer a:hover {
    text-decoration: none;
    color: #da1c5c
}

footer img {
    margin-right: 2px
}

@media screen and (max-width: 1024px) {
    .profile-box {
        display: inline-block;
        width: 250px;
        height: 160px;
        vertical-align: top
    }
    .profilemeta-box {
        display: inline-block;
        width: 200px;
        height: 160px;
        vertical-align: top
    }
    .photo-box {
        width: 180px
    }
    .profileupdate {
        display: block
    }
    .job-box {
        width: 45%;
        padding: 10px
    }
}

@media screen and (max-width: 768px) {
    #header-profile .profile-box {
        display: none
    }
    #header-profile .profileimg {
        margin: 0px -20px 0 0
    }
    #profile {
        max-width: 70%;
        margin: 30px auto 10px auto
    }
    .profile-box {
        display: inline-block;
        width: 250px;
        height: 160px;
        vertical-align: top
    }
    .profilemeta-box {
        display: inline-block;
        width: 200px;
        height: 160px;
        vertical-align: top
    }
    .photo-box {
        width: 49%
    }
}

@media screen and (max-width: 620px) {
    body {
        font-size: 13px;
        line-height: 16px
    }
    header {
        padding: 20px 10px 10px 10px
    }
    .nav-trigger {
        visibility: hidden;
        top: 0px
    }
    .logo {
        width: 160px;
        height: auto
    }
    #headerlogin {
        margin: -25px 0 10px 0
    }
    #headerlogin .button {
        padding: 8px 10px 2px 10px
    }
    #header-profile {
        margin: -25px 0 0 0
    }
    #header-profile .profileimg {
        margin: 0px
    }
    .navigation li a {
        font-size: 18px;
        padding: 10px 0px;
        width: 290px
    }
    #banner-container {
        display: block;
        width: 100%;
        height: auto;
        position: relative
    }
    .banner-text {
        margin: 0 auto 10px auto;
        max-width: 300px;
        padding: 15% 10px 0 10px
    }
    .banner-text p {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: #fff;
        margin: 0 0 20px 0;
        text-shadow: 1px 1px 3px #333333
    }
    #banner-container .button {
        height: 40px;
        font-size: 18px;
        color: #fff;
        margin: 10px 5px 0 auto;
        padding: 5px 30px 8px 30px
    }
    #content {
        width: 95%;
        margin: 0 auto;
        padding: 0 10px 0 10px
    }
    #content h1 {
        font-size: 26px;
        line-height: 34px
    }
    #content h2 {
        font-size: 22px;
        line-height: 32px
    }
    .banner-content {
        display: none
    }
    .blurb {
        max-width: 100%;
        padding: 10px
    }
    .textred {
        height: 42px
    }
    .features-box {
        display: block;
        max-width: 100%;
        margin: 0 10px 20px 10px;
        padding: 0px
    }
    .testi-box {
        display: block;
        max-width: 100%;
        margin: 0 10px 20px 10px;
        padding: 0px
    }
    .plan,
    .plan2 {
        display: block;
        max-width: 95%;
        margin: 0 auto 20px auto;
        padding: 0px
    }
    #profile {
        max-width: 90%;
        margin: 30px auto 10px auto
    }
    #profile h2 {
        font-size: 24px
    }
    #profile h3 {
        font-size: 20px
    }
    .profileimg-box {
        width: 180px;
        height: auto;
        display: block;
        margin: 0px auto
    }
    .profile-box {
        display: block;
        width: auto;
        height: auto;
        text-align: center;
        margin: 20px auto 10px auto;
        padding-bottom: 20px;
        border-bottom: 1px solid #CCC
    }
    .profilemeta-box {
        display: block;
        width: 100%;
        height: auto;
        margin: 20px 0 10px 0
    }
    .job-box {
        display: block;
        width: 92%
    }
    .job-box .profileimg {
        width: 64px;
        height: auto;
        display: inline-block;
        margin: 0 10px 0px 0;
        border: 1px solid #CCC
    }
    .voting-box {
        max-width: 300px
    }
    footer {
        background-color: #121215;
        font-size: 12px;
        line-height: 18px;
        color: #eee;
        padding: 30px 0 40px 0;
        margin-top: 0px;
        text-align: center
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 120px;
        height: auto
    }
}
